@charset "utf-8";
header {
	height: 60px;
	background-color: rgb(90, 149, 200);
	position: relative;
}
header .logo {
	text-align: center;
	height: 100%;
}
header .logo a {
	display: inline-block;
	height: 100%;
	color: #fff;
  font-family: 'Lobster', cursive;
	font-size: 26px;
	letter-spacing: 2px;
	line-height: 60px;
}
header .hamBtn{
	position: absolute;
	right: 16px;top: 50%;
	transform: translateY(-50%);
	width: 30px;height: 30px;
	background: url('../img/menu_right.png') no-repeat center center/ cover;
	cursor: pointer;
}
header .chatBtns{
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
	background-color: #efefef;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	z-index: 10;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	transition: top .5s;
}
header.on .chatBtns{
	display: flex;
}
header .chatBtns > button{
	border: 1px solid #000;
	margin-bottom: 10px;
	font-size: 14px;
	width: 160px;
	padding: 6px 0;
	transition: .5s;
}
header .chatBtns > button:hover{
	border-radius: 8px;
	color: #5a95c8;
	border-color: #5a95c8;
}


section {
	height: calc(100vh - 60px);
	background-color: rgb(170, 210, 233);

}
section article {
	padding: 10px 0 20px 20px;
	height: 80%;
	overflow: hidden;
}
section article ul {
	height: 100%;
	padding-right: 20px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}
section article ul li.right {
	align-self: flex-end;
	text-align: right;
}
section article ul li {
	font-size: 15px;
	color: #363636;
	margin-top: 18px;
}
section article ul li p.user_id {
	font-size: 12px;
	margin-bottom: 8px;
}
section article ul li span {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px 10px;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	max-width: 100%;
	word-break: break-all;
}

section form {
	height: 20%;
	width: 100%;
	font-size: 0;
}
section form textarea {
	width: 70%;
	height: 100%;
	padding: 8px;
	display: inline-block;
	vertical-align: top;
	resize: none;
	outline: none;
	border: none;
	font-family: 'S-CoreDream-4Regular', sans-serif;

}
section form input {
	width: 30%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	border: none;
	cursor: pointer;
}

.dark {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.dark.active {
	display: block;
}
#message_popup {
	display: none;
	position: fixed;
	width: 80vw;
	height: 20vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
#message_popup.active {
	display: flex;
}

#message_popup button {
	background-color: transparent;
	padding: 5px 10px;
	background-color: rgb(235, 200, 255);
	border: none;
	border-radius: 6px;
}
.del_btns_wrap {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}
.hide {
	display: none;
}
